---
---
<h1 class="group font-mono text-4xl md:text-6xl font-bold mb-6 transition-all duration-300">
  <span class="inline-block transition-transform duration-300 group-hover:scale-110">Critical</span>
  <span class="inline-block transition-transform duration-300 group-hover:scale-110 delay-[50ms]">thought</span>
  <span class="inline-block transition-transform duration-300 group-hover:scale-110 delay-[100ms]">for</span>
  <span class="inline-block transition-transform duration-300 group-hover:scale-110 delay-[150ms]">the</span>
  <span class="inline-block text-punk-red transition-transform duration-300 group-hover:scale-110 delay-[200ms]">digital</span>
  <span class="inline-block text-punk-red transition-transform duration-300 group-hover:scale-110 delay-[250ms]">age</span>
</h1>