---
---
<a href="/" class="group relative inline-block">
  <div class="absolute inset-0 bg-gradient-to-r from-punk-red/20 via-purple-600/20 to-purple-500/20 rounded-lg blur-xl opacity-0 group-hover:opacity-100 transition-all duration-500 -z-10"></div>
  <div class="relative flex items-center">
    <span class="font-mono text-2xl tracking-tighter">
      <span class="inline-block text-punk-red font-light transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:scale-110">LEFT</span>
      <span class="inline-block text-white font-medium transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:scale-110 delay-75">PUNK</span>
    </span>
    <div class="absolute -bottom-0.5 left-0 w-full h-px bg-gradient-to-r from-punk-red via-purple-600 to-transparent scale-x-0 group-hover:scale-x-100 transition-transform duration-500 origin-left"></div>
  </div>
</a>